.exm{
    padding:0.3rem 0;
    text-align: center;
    background-color: #e5e5e5;
}
.exm h2{
    color: #333;
    font-size: 0.24rem;
    line-height: 0.35rem;
}
.exm>p{
    color: #666;
    font-size: 0.16rem;
    padding-bottom: 0.2rem;
}
.exm>div{
    position: relative;
    width: 3.24rem;
    margin: 0 auto;
}
.exm>div>a>img{
    width: 3.24rem;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.2rem;
}
.exm>div>a{
    margin: 0 auto;
}
.exm>div>a>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 3.24rem;
    height:2.43rem;
    background-color:rgba(0,0,0,0.5);
    color: #fff;
    opacity: 0;
    margin: 0 auto;
    transition: all .5s;
    margin: 0 auto;
}
.exm>div>a>div>p{
    font-size: 0.24rem;
    margin: 0.1rem;
    position: absolute;
    bottom: 0.15rem;
}
.exm>div:hover>a>div{
    opacity: 1;
}
.exm>a{
    background-color: #00bf4c;
    border-radius: 0.15rem;
    color:#fff;
    font-size: 0.16rem;
    line-height: 0.3rem;
    display:block;
    width: 1rem;
    margin:0 auto;
}